<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastUpdate</key>
	<date>2023-01-08T00:00:00Z</date>
	<key>libraries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bibliothèque d’étude et du patrimoine</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/650-bibliotheque-d-etude-et-du-patrimoine.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A54cf5673-2378-4c0d-9262-9aaa72f715aa</string>
			<key>openingTime</key>
			<string>Mardi : 10h - 19h
Mercredi : 10h - 19h
Jeudi : 13h - 19h
Vendredi : 10h - 19h
Samedi : 10h - 18h

Vacances scolaires : du mardi au samedi de 13h à 18h</string>
			<key>latitude</key>
			<real>45.1853165</real>
			<key>longitude</key>
			<real>5.7308895</real>
			<key>address</key>
			<string>12 Boulevard Maréchal Lyautey
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 21 00</string>
			<key>mailAddress</key>
			<string>bm.etude@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque municipale internationale</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/657-bibliotheque-municipale-internationale.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A22b5383d-5bf1-41cb-888e-1efa97f6d755</string>
			<key>openingTime</key>
			<string>Mardi : 17h - 19h
Mercredi : 13h - 18h
Jeudi : 17h - 19h
Vendredi : 17h - 19h
Samedi : 10h - 13h / 14h - 17h

Vacances scolaires : 
Du mardi au vendredi : 14h - 18h
Samedi : 10h - 13h</string>
			<key>latitude</key>
			<real>45.1952996</real>
			<key>longitude</key>
			<real>5.7116669</real>
			<key>address</key>
			<string>6 Place de Sfax
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 38 12 25 41</string>
			<key>mailAddress</key>
			<string>bm.internationale@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque des Relais Lecture</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/658-bibliotheque-des-relais-lecture.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A855316a0-57f1-4e68-98cb-999d0f181842</string>
			<key>openingTime</key>
			<string>Sur rendez-vous.
Lundi : 14h - 17h 
Du mardi au vendredi : 9h - 18h</string>
			<key>latitude</key>
			<real>45.1568105</real>
			<key>longitude</key>
			<real>5.7337226</real>
			<key>address</key>
			<string>130 Avenue d&apos;Innsbruck
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 38 70 05 72</string>
			<key>mailAddress</key>
			<string>bm.relais@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Abbaye-les-Bains</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/647-bibliotheque-abbaye-les-bains.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A2ef62750-447d-48a4-afb7-24f388036087</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1793553</real>
			<key>longitude</key>
			<real>5.7420337</real>
			<key>address</key>
			<string>1 Rue de la Bajatière
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 03 71 83</string>
			<key>mailAddress</key>
			<string>bm.abbaye@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Alliance</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/648-bibliotheque-alliance.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A6f13c552-e9f7-4752-89cb-de1b737ebfb9</string>
			<key>openingTime</key>
			<string>Mardi : 14h - 19h
Mercredi : 10h - 13h / 14h - 18h
Jeudi et vendredi : accueil de groupes 
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1734066</real>
			<key>longitude</key>
			<real>5.724542</real>
			<key>address</key>
			<string>90 Rue de Stalingrad
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 57 04 27 70</string>
			<key>mailAddress</key>
			<string>bm.alliance@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Arlequin</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/644-bibliotheque-arlequin.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3Aed3c3605-2cac-4d87-bcbd-e2838e659015</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h
Samedi : 10h - 13h / 14h - 18h

Ouverture de l’espace presse aux horaires du Patio.</string>
			<key>latitude</key>
			<real>45.163893</real>
			<key>longitude</key>
			<real>5.732832</real>
			<key>address</key>
			<string>97 Galerie de l&apos;Arlequin
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 22 92 16</string>
			<key>mailAddress</key>
			<string>bm.arlequin@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Centre-Ville</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/653-centre-ville.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A24db28e9-5438-4226-86bb-25505b4b0538</string>
			<key>openingTime</key>
			<string>Du mardi au samedi : 11h - 18h30</string>
			<key>latitude</key>
			<real>45.1902786</real>
			<key>longitude</key>
			<real>5.729296</real>
			<key>address</key>
			<string>10 Rue de la République
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 54 57 97</string>
			<key>mailAddress</key>
			<string>bm.centreville@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Eaux-Claires Mistral</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/649-bibliotheque-eaux-claires.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A75e63402-a291-425a-9174-86da7d6ed3b9</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1755315</real>
			<key>longitude</key>
			<real>5.7091272</real>
			<key>address</key>
			<string>49 Rue des Eaux Claires
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 21 25 28</string>
			<key>mailAddress</key>
			<string>bm.eclaires@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Jardin de ville</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/652-jardin-de-ville.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3Af85290c1-4f73-45ad-8fa4-95313c2a74a4</string>
			<key>openingTime</key>
			<string>Mardi : 16h - 18h
Mercredi : 10h - 13h / 14h - 18h
Jeudi : accueil de groupes
Vendredi : 16h - 18h
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1923764</real>
			<key>longitude</key>
			<real>5.727246</real>
			<key>address</key>
			<string>1 Place de Gordes
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 00 77 00</string>
			<key>mailAddress</key>
			<string>bm.jardindeville@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Kateb Yacine</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/654-kateb-yacine.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3A0ef0bec7-aae8-4174-a55d-cc5515c7125e</string>
			<key>openingTime</key>
			<string>Du mardi au samedi : 11h - 18h30</string>
			<key>latitude</key>
			<real>45.157186</real>
			<key>longitude</key>
			<real>5.7334689</real>
			<key>address</key>
			<string>202 Grand Place
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 38 12 46 20</string>
			<key>mailAddress</key>
			<string>bm.katebyacine@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Saint-Bruno</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/667-saint-bruno.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3Ab7e084c6-62af-484e-8f51-b633d775b662</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1877699</real>
			<key>longitude</key>
			<real>5.7132726</real>
			<key>address</key>
			<string>8 Place Saint Bruno
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 96 82 95</string>
			<key>mailAddress</key>
			<string>bm.sbruno@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Teisseire Malherbe</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/656-teisseire-malherbe.htm?</string>
			<key>webpageCatalogue</key>
			<string>https://catalogue.bm-grenoble.fr/notice?id=h%3A%3Af7feb977-89dc-429c-bfc4-45c5bdf2e983</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1707803</real>
			<key>longitude</key>
			<real>5.7406858</real>
			<key>address</key>
			<string>12 Allée Charles Pranard
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 52 00</string>
			<key>mailAddress</key>
			<string>bm.teisseire@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>L’artothèque municipale</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/605-l-artotheque.htm?</string>
			<key>openingTime</key>
			<string>Du mardi au samedi : 13h - 18h</string>
			<key>latitude</key>
			<real>45.1853165</real>
			<key>longitude</key>
			<real>5.7308895</real>
			<key>address</key>
			<string>12 Boulevard Maréchal Lyautey
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 21 00</string>
			<key>mailAddress</key>
			<string>artotheque@bm-grenoble.fr</string>
			<key>accessibility</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
