<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastUpdate</key>
	<date>2023-01-08T00:00:00Z</date>
	<key>libraries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bibliothèque d’étude et du patrimoine</string>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque-detude-et-du-patrimoine.aspx</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=d1a83f442c2a9ce2368a07dbbfcdee1f&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>openingTime</key>
			<string>Mardi : 10h - 19h
Mercredi : 10h - 19h
Jeudi : 13h - 19h
Vendredi : 10h - 19h
Samedi : 10h - 18h

Vacances scolaires : du mardi au samedi de 13h à 18h</string>
			<key>latitude</key>
			<real>45.1853165</real>
			<key>longitude</key>
			<real>5.7308895</real>
			<key>address</key>
			<string>12 Boulevard Maréchal Lyautey
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 21 00</string>
			<key>mailAddress</key>
			<string>bm.etude@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
			<key>closedForMaintenance</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque municipale internationale</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 16h - 19h
Mercredi : 13h - 18h
Jeudi : 16h - 19h
Vendredi : 16h - 19h
Samedi : 10h - 13h / 14h - 17h

Vacances scolaires : 
Du mardi au vendredi : 14h - 18h
Samedi : 10h - 13h</string>
			<key>latitude</key>
			<real>45.1952996</real>
			<key>longitude</key>
			<real>5.7116669</real>
			<key>address</key>
			<string>6 Place de Sfax
38000 Grenoble</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=6b45472e5917af5d6688444a8d8e9631&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>phoneNumber</key>
			<string>04 38 12 25 41</string>
			<key>mailAddress</key>
			<string>bm.internationale@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque des Relais Lecture</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/la-bibliotheque-des-relais-lecture.aspx</string>
			<key>openingTime</key>
			<string>Sur rendez-vous.
Lundi : 14h - 17h 
Du mardi au vendredi : 9h - 18h</string>
			<key>latitude</key>
			<real>45.1568105</real>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=6e55def69837d02601c4101ee6078cfd&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>longitude</key>
			<real>5.7337226</real>
			<key>address</key>
			<string>130 Avenue d&apos;Innsbruck
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 38 70 05 72</string>
			<key>mailAddress</key>
			<string>bm.relais@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Mimi Mingat-Lerme</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>previousName</key>
			<string>Abbaye-les-Bains</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=45d989c93ae764a293bcad29208550a3&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bib-abbaye-les-bains.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1793553</real>
			<key>longitude</key>
			<real>5.7420337</real>
			<key>address</key>
			<string>1 Rue de la Bajatière
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 03 71 83</string>
			<key>mailAddress</key>
			<string>bm.abbaye@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Les Munitionnettes</string>
			<key>previousName</key>
			<string>Alliance</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bib-alliance.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 14h - 19h
Mercredi : 10h - 13h / 14h - 18h
Jeudi et vendredi : accueil de groupes 
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1734066</real>
			<key>longitude</key>
			<real>5.724542</real>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=51aea7de8ff668ff976d7d0cff8def24&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>address</key>
			<string>90 Rue de Stalingrad
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 57 04 27 70</string>
			<key>mailAddress</key>
			<string>bm.alliance@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Colombine</string>
			<key>previousName</key>
			<string>Arlequin</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bib-arlequin.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h
Samedi : 10h - 13h / 14h - 18h

Ouverture de l’espace presse aux horaires du Patio.</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=f757c24eadebf6aae162dea370a45c7f&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>latitude</key>
			<real>45.163893</real>
			<key>longitude</key>
			<real>5.732832</real>
			<key>address</key>
			<string>97 Galerie de l&apos;Arlequin
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 22 92 16</string>
			<key>mailAddress</key>
			<string>bm.arlequin@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Centre-Ville</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=40d8f619fba971ad601e5237cacbe23d&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bib.aspx</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>openingTime</key>
			<string>Du mardi au samedi : 11h - 18h30</string>
			<key>latitude</key>
			<real>45.1902786</real>
			<key>longitude</key>
			<real>5.729296</real>
			<key>address</key>
			<string>10 Rue de la République
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 54 57 97</string>
			<key>mailAddress</key>
			<string>bm.centreville@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Chantal Mauduit</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=f33b541e03bb8011aea170dcaf0e64cd&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>previousName</key>
			<string>Eaux-Claires Mistral</string>
			<key>closedForMaintenance</key>
			<true/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bib-eaux-claires-mistral.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.173</real>
			<key>longitude</key>
			<real>5.706</real>
			<key>address</key>
			<string>74 Rue Anatole France
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 21 25 28</string>
			<key>mailAddress</key>
			<string>bm.eclaires@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Mafalda</string>
			<key>previousName</key>
			<string>Jardin de ville</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque-jardin-de-ville.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 16h - 18h
Mercredi : 10h - 13h / 14h - 18h
Jeudi : accueil de groupes
Vendredi : 16h - 18h
Samedi : 10h - 13h / 14h - 18h</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=12af38c6065faf34d07569397570afe4&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>latitude</key>
			<real>45.1923764</real>
			<key>longitude</key>
			<real>5.727246</real>
			<key>address</key>
			<string>1 Place de Gordes
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 00 77 00</string>
			<key>mailAddress</key>
			<string>bm.jardindeville@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Kateb Yacine</string>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque-kateb-yacine.aspx</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=d8ddd5c86f50db9ec057f4e19e0894fc&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>openingTime</key>
			<string>Du mardi au samedi : 11h - 18h30</string>
			<key>latitude</key>
			<real>45.157186</real>
			<key>longitude</key>
			<real>5.7334689</real>
			<key>address</key>
			<string>202 Grand Place
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 38 12 46 20</string>
			<key>mailAddress</key>
			<string>bm.katebyacine@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Gisèle Halimi</string>
			<key>previousName</key>
			<string>Saint-Bruno</string>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=76cda14040a7049bae8fb03d5746d00b&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>closedForMaintenance</key>
			<true/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque-saint-bruno.aspx</string>
			<key>openingTime</key>
			<string>La bibliothèque Saint-Bruno ferme temporairement ses portes du 20 avril à mai 2025 dans le cadre de sa rénovation complète.</string>
			<key>latitude</key>
			<real>45.1877699</real>
			<key>longitude</key>
			<real>5.7132726</real>
			<key>address</key>
			<string>8 Place Saint Bruno
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 96 82 95</string>
			<key>mailAddress</key>
			<string>bm.sbruno@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Vivian Maier</string>
			<key>previousName</key>
			<string>Teisseire Malherbe</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/bibliotheque-teisseire-malherbe.aspx</string>
			<key>openingTime</key>
			<string>Mardi : 13h - 18h30
Mercredi : 10h - 13h / 14h - 18h
Jeudi : 9h - 12h
Vendredi : 13h - 18h30
Samedi : 10h - 13h / 14h - 18h</string>
			<key>latitude</key>
			<real>45.1707803</real>
			<key>longitude</key>
			<real>5.7406858</real>
			<key>newItemsFeed</key>
			<string>https://bm-grenoble.fr/Portal/Recherche/Search.svc/SearchRss?key=e4dc5c2ea644a5ea1cba268aa801594d&amp;useSearchSort=true&amp;useSearchResultSize=true</string>
			<key>address</key>
			<string>12 Allée Charles Pranard
38100 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 52 00</string>
			<key>mailAddress</key>
			<string>bm.teisseire@bm-grenoble.fr</string>
			<key>accessibility</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>L’artothèque municipale</string>
			<key>webpage</key>
			<string>https://bm-grenoble.fr/artotheque.aspx</string>
			<key>closedForMaintenance</key>
			<false/>
			<key>openingTime</key>
			<string>Du mardi au samedi : 13h - 18h</string>
			<key>latitude</key>
			<real>45.1853165</real>
			<key>longitude</key>
			<real>5.7308895</real>
			<key>address</key>
			<string>12 Boulevard Maréchal Lyautey
38000 Grenoble</string>
			<key>phoneNumber</key>
			<string>04 76 86 21 00</string>
			<key>mailAddress</key>
			<string>artotheque@bm-grenoble.fr</string>
			<key>accessibility</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
