<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastUpdate</key>
	<date>2019-09-30T14:26:18Z</date>
	<key>libraries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bibliothèque d’étude et du patrimoine</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/650-bibliotheque-d-etude-et-du-patrimoine.htm?</string>
			<key>openingTime</key>
			<string>Fermeture pour travaux à partir du 1er juillet à début 2020 

Année scolaire 2019 - 2020 
Mardi: 10h-19h 
Mercredi: 10h-19h 
Jeudi: 13h-19h 
Vendredi: 10h-19h 
Samedi : 10h-18h 

Vacances scolaires : noël, février, pâques 
du mardi au samedi: 13h-18h 

Fermeture le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque municipale internationale</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/657-bibliotheque-municipale-internationale.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 / 2020 
Mardi: 17h - 19h 
Mercredi: 14h - 18h 
Jeudi: 17h - 19h 
Vendredi: 17h - 19h 
Samedi: 10h-12h30 / 14h-17h 

Vacances scolaires 
du mardi au vendredi : 14h - 18h 
samedi : 10h - 13h 

Fermeture le samedi de Pâques. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque des Relais Lecture</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/658-bibliotheque-des-relais-lecture.htm?</string>
			<key>openingTime</key>
			<string>Année 2019 / 2020 
Accueil sur rendez-vous 
Lundi : 14h-17h 
Mardi : 9h-18h 
Mercredi : 9h - 18h 
Jeudi : 9h - 18h 
Vendredi : 9h - 18h</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Abbaye-les-Bains</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/647-bibliotheque-abbaye-les-bains.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 - 2020 
Mardi : 15h-18h30 
Mercredi : 10h-12h30 / 14h-18h 
Jeudi : accueil de groupes 
Vendredi : 15h-18h30 
Samedi : 10h-12h30 et 14h-18h</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Alliance</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/648-bibliotheque-alliance.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 - 2020 
Mardi : 14h-19h 
Mercredi : 10h-13h / 14h-18h 
Jeudi /vendredi : accueil de groupes 
Samedi : 10h-13h / 14h-17h</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Arlequin</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/644-bibliotheque-arlequin.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 - 2020 
Mardi : 14h - 18h 
Mercredi : 14h - 18h 
Jeudi : 10h - 13h 
Vendredi : 14h - 18h 
Samedi : 10h - 13h 
Ouverture de l’espace presse aux horaires du Patio 

Fermeture le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Centre-Ville</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/653-centre-ville.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 - 2020 
Mardi : 13h-18h30 
Mercredi : 11h-18h30 
Jeudi : 13h-18h30 
Vendredi : 13h-18h30 
Samedi : 11h-18h30 

Vacances scolaires 2019-2020 
Du mardi au samedi 13h-18h 

Fermeture le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Eaux-Claires Mistral</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/649-bibliotheque-eaux-claires.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 / 2020 
Mardi : 15h -18h30 
Mercredi : 10h -12h30 et 14h -18h 
Jeudi : accueil de groupes 
Vendredi : 15h -18h30 
Samedi : 10h -12h30 et 14h -18h 


Fermeture le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Jardin de ville</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/652-jardin-de-ville.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 - 2020 
Mardi : 16h -18h 
Mercredi : 10h -12h / 14h -18h 
Jeudi : accueil de groupes 
Vendredi : 16h -18h 
Samedi : 10h-12h / 14h-18h 

Vacances scolaires : 
même horaire avec mardi et vendredi : 15h- 18h 

Fermeture le samedi de Pâques</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Kateb Yacine</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/654-kateb-yacine.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 / 2020 
Mardi : 12h à 18h30 
Mercredi : 12h à 18h30 
Jeudi : 12h à 18h30 
Vendredi : 12h à 18h30 
Samedi : 12h à 18h30 

Fermée le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Saint-Bruno</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/667-saint-bruno.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 / 2020 
Mardi : 15h - 18h30 
Mercredi : 10h –12h30 / 14h–18h 
Jeudi : accueil de groupes 
Vendredi : 15h – 18h30 
Samedi : 10h–12h30 / 14h -18h 

Fermeture le samedi de Pâques.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bibliothèque Teisseire Malherbe</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/656-teisseire-malherbe.htm?</string>
			<key>openingTime</key>
			<string>Année scolaire 2019 / 2020 
Mardi: 15h -18h30 
Mercredi: 10h -12h30 et 14h-18h 
Jeudi : accueil de groupes 
Vendredi: 15h -18h30 
Samedi: 10h -12h30 et 14h -18h 

Fermeture le samedi de Pâques</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L’artothèque municipale</string>
			<key>webpage</key>
			<string>https://www.bm-grenoble.fr/605-l-artotheque.htm?</string>
			<key>openingTime</key>
			<string>L’artothèque située à la bibliothèque d&apos;étude et du patrimoine est fermée pour travaux jusqu&apos;au début 2020. 
Les prêts d’œuvres d&apos;art continuent dans certaines bibliothèques du réseau.</string>
		</dict>
	</array>
</dict>
</plist>
